workflow:
  rules:
    - if: $CI_COMMIT_BRANCH == "main"  && $CI_PIPELINE_SOURCE!= "merge_request_event"
      when: never
    - when: always

run_unit_tests:
  image: node:25-alpine3.21
  tags:
    - ec2
    - docker
    - remote
  before_script:
    - cd app
    - npm install
  script:
    - npm test
  artifacts:
    when: always
    paths:
      - app/junit.xml
    reports:
      junit: app/junit.xml

build_image:
  tags:
   - ec2
   - shell
   - remote
  script:
  