image: alpine:3.20.3

workflow:
  rules:
    - if: $CI_COMMIT_BRANCH != "main" && $CI_PIPELINE_SOURCE != "merge_request_event"
      when: never
    - when: always

stages:
  - test
  - build
  - deploy

run_unit_tests:
  image: node:23-alpine3.19
  tags:
    - ec2
    - docker
    - remote
  stage: test
  before_script:
    - echo "Preparing test data..."
  script:
    - echo "Running unit tests for microservice $MICRO_SERVICE_NAME..."
    - npm version
  after_script:
    - echo "Cleaning up temporary files... "

run_lint_tests:
  tags:
    - ec2
    - shell
    - remote
  stage: test
  before_script:
    - echo "Preparing test data..."
  script:
    - echo "Running lint tests..."
  after_script:
    - echo "Cleaning up temporary files... "

build_image:
  tags:
    - macos
    - local
  only:
    - main
  stage: build
  script:
    - echo "Building the docker image..."
    - echo "Tagging the docker image"

push_image:
  tags:
    - macos
    - local
  only:
    - main
  stage: build
  needs:
    - build_image
  script:
    - echo "Logging into docker registry..."
    - echo "Pushing docker image to registry..."

deploy_image:
  tags:
    - macos
    - local
  only:
    - main
  stage: deploy
  script:
    - echo "Deploying new docker image to $DEPLOYMENT_ENVIRONMENT using the following configuration file - $PROPERTIES_FILE ..."
    - cat $PROPERTIES_FILE