workflow:
  rules:
  - if: '$CI_COMMIT_BRANCH == "main" && $CI_PIPELINE_SOURCE != "merge_request_event"'
    when: never
  - when: always

variables:
  IMAGE_NAME: $CI_REGISTRY_IMAGE
  IMAGE_TAG: "1.1"
  DEV_SERVER_HOST: 3.148.227.223

stages:
- test
- build
- deploy

run_unit_tests:
  image: node:25-alpine3.21
  stage: test
  tags:
  - ec2
  - docker
  - remote
  before_script:
  - cd app
  - npm install
  script:
  - npm test
  artifacts:
    when: always
    paths:
    - app/junit.xml
    reports:
      junit: app/junit.xml

build_image:
  stage: build
  tags:
  - ec2
  - shell
  - remote
  script:
  - docker build -t $CI_REGISTRY_IMAGE:1.0 .

push_image:
  stage: build
  needs:
  - build_image
  tags:
  - ec2
  - shell
  - remote
  before_script:
  - echo "Working starting now....."
  - echo "Docker registry url is $CI_REGISTRY"
  - echo "Docker registry username is $CI_REGISTRY_USER"
  - echo "Docker image repository is $CI_REGISTRY_IMAGE"
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker push $CI_REGISTRY_IMAGE:1.0
  deploy_to_dev:
    stage: deploy
    tags:
    - ec2
    - shell
    - remote
    before_script:
    - chmod 400 $SSH_PRIVATE_KEY
    script:
    - ssh -o StrictHostKeyChecking=no -i $SSH_PRIVATE_KEY ubuntu@$DEV_SERVER_HOST " docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY && docker run -d -p 3000:3000 $CI_REGISTRY_IMAGE:1.0"
